.alignment{
  text-align: center;
  color: white;
  font-family: "Calistoga";
  font-size: 45px;
  transition: 5s;
}

.alter{
  color: white;
  font-family: "DejaVu Serif";
}

#change{
  left:550px;
}



.card{
  top:25px;
  height:200px;
  width:600px;
  left:24%;
}

.card-body{
  font-family: Bitter;
}
