<!--<div *ngIf="items?.length > 0;else noItems">-->
<!--  <ul *ngFor="let item of items">-->

<!--    <li class="collection-item"><strong class="bolder">To: </strong>{{ item.to}}-->
<!--      <br><strong class="bolder">Car Identity </strong> {{item.car}}-->
<!--      <br><strong class="bolder">Charge Consumed </strong> {{item.charge}}-->
<!--      <br><strong class="bolder">Amount: </strong> {{item.amount}}-->
<!--    </li>-->



<!--  </ul>-->
<!--  <br>-->

<!--  <button class="btn btn-primary"  (click)="minePendingTransactions()">-->
<!--    Start mining-->
<!--  </button>-->



<!--</div>-->

<ng-template #noItems>
  <hr>
  <h5>There are no items in the list</h5>
</ng-template>

<table class="table table-dark" *ngIf="items?.length > 0;else noItems">
  <thead>
  <tr>
    <th class="al"scope="col">#</th>
    <th scope="col">From</th>
    <th scope="col">To</th>
    <th scope="col">Car_Identity</th>
    <th scope="col">Charge_Consumed</th>
    <th scope="col">Amount</th>
    <th scope="col">Timestamp</th>
    <th scope="col">Valid ?</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tx of items; index as index">
    <td>{{index}}</td>
    <td class="text-truncate" style="max-width: 100px;">

      <a [routerLink]="['/wallet', tx.from]" *ngIf="tx.from !== null">{{tx.from}}</a>

      <span *ngIf="tx.from === null">System</span>

      <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.from)">
          <br><small>(Charging Station!)</small>
        </span>
    </td>
    <td class="text-truncate" style="max-width: 100px;">
      <a [routerLink]="['/wallet', tx.to]">{{tx.to}}</a>

      <span class="text-muted" *ngIf="blockchainService.addressIsFromCurrentUser(tx.to)">
            <br><small>(CAAS!)</small>
          </span>

    </td>
    <td>
      {{tx.car}}
      <span *ngIf="tx.from === null" class="text-muted"><h5>Null</h5></span>
    </td>
    <td>
      {{tx.charge}}
      <span *ngIf="tx.from === null" class="text-muted"><h5>Null</h5></span>
    </td>
    <td>
      {{tx.amount}}
      <span *ngIf="tx.from === null" class="text-muted"><br><small>(Block reward)</small></span>
    </td>
<!--    <td>-->
<!--      {{tx.timestamp}}<br>-->
<!--      <span class="text-muted"><small>{{tx.timestamp |date:'MMM d, y, HH:mm'}}</small></span>-->
<!--    </td>-->
<!--    <td style="max-width: 40px;">-->
<!--      <span *ngIf="tx.isValid()">✓</span>-->
<!--      <span *ngIf="!tx.isValid()">✗</span>-->
<!--    </td>-->


  </tr>
  </tbody>


</table>
<br>
<br><br><br><br>
  <button class="btn btn-primary"  (click)="minePendingTransactions()">
    Start mining
  </button>
